<!DOCTYPE html>
<html>
<head>
  <% include ../template/head %>
</head>
<body>
  <% include ../template/header %>

  <form id='search-form' action="/searches" method="GET"
  <ul>
  <!-- <% heroes.map(hero => { %>
    <li><%= hero.name %></li>
  <% }) %> -->
  </ul>
  <% include ../template/footer %>
</body>
</html>