<!DOCTYPE html>
<html>
<head>
  <% include ../template/head %>
</head>
<body>
  <% include ../template/header %>
  <h2>Search results</h2>
  <ul>
    <% books.map(book => { %>
      <li><%= book.title %> - <%= book.author %></li>
    <% }) %>
  </ul>
  <% include ../template/footer %>
</body>
</html>